body{
	overflow-x: hidden;
}
#all{
	left:0%;
	position: absolute;
	width: 100%;
	height: 100%;
	transition: all ease 1s;
}
#all1{
	width:100%;
	height:100%;
	position:absolute;
	transition: all ease 1s;
}
#all2{
	top:15%;
	width:100%;
	height:245%;
	left:-100%;
	position:absolute;
	transition: all ease 1s;
}
#panel{
	width:100%;
	height:100%;
	position: absolute;
	transition: all ease 1s;
}
#top_panel{
	width:100%;
	height:15%;
	background:#7E6E61;
	position:absolute;
}
#bottom_panel{
	width:100%;
	height:15%;
	top:245%;
	background:#7E6E61;
	position:absolute;
}
#vk{
	position:absolute;
	width:7%;
	height:10%;
	left:83%;
	top:247%;
}
#ds{
	position:absolute;
	width:5%;
	height:8%;
	left:89%;
	top:248%;
}
#inst{
	position:absolute;
	width:5%;
	height:8%;
	left:94%;
	top:248%;
}
#background{
	position:absolute;
	width:100%;
	height:250%;
	background:green;
}
#text1{
	position:absolute;
	width:40%;
	height:15%;
	top:4%;
	left:30%;
}
#il1{
	position:absolute;
	width:60%;
	height:70%;
	top:15%;
	background:red;
}
#il2{
	position:absolute;
	width:60%;
	height:70%;
	top:85%;
	left:40%;
	background:red;
}
#il3{
	position:absolute;
	width:60%;
	height:70%;
	top:155%;
	background:red;
}
#language{
	position:absolute;
	width:15%;
	height:9%;
	top:3%;
	left:84%;
	background:#98382c;
	border-radius:20px 20px 0px 0px;
}
#mark1{
	position:absolute;
	width:30%;
	height:40%;
	left:65%;
	top:30%;
	transition: all ease 1s;
}
#fl{
	position:absolute;
	width:100%;
	height:0%;
	top:100%;
	overflow: hidden;
	transition: all ease 1s;
	border-radius:0px 0px 20px 20px;
}
#RU{
	position:absolute;
	width:100%;
	height:50%;
	background:#bb4c3f;
}
#pl{
	position:absolute;
	width:100%;
	top:50%;
	height:1px;
	background:black;
}
#EN{
	position:absolute;
	width:100%;
	height:50%;
	top:50%;
	background: #bb4c3f;
}
#fRU{
	position:absolute;
	width:35%;
	height:40%;
	top:5%;
	left:60%;
}
#fEN{
	position:absolute;
	width:35%;
	height:40%;
	top:55%;
	left:60%;
}
#right1{
	position:absolute;
	width:35%;
	height:15%;
	left:55%;
	top:227%;
	border-radius:25px;
	background:pink;
	padding-top:20px;
}
#left1{
	position:absolute;
	width:35%;
	height:15%;
	left:15%;
	top:227%;
	border-radius:25px;
	background:pink;
	padding-top:20px;
}
#in1{
	position:absolute;
	width:40%;
	height:70%;
	top:15%;
	left:60%;
	background:yellow;
}
#in2{
	position:absolute;
	width:40%;
	height:70%;
	top:85%;
	background:yellow;
}
#in3{
	position:absolute;
	width:40%;
	height:70%;
	top:155%;
	left:60%;
	background:yellow;
}
#chat1{
	position: absolute;
	width: 35%;
	height: 35%;
	top:6%;
	left:1%;
	background: red;
	overflow: hidden;
	border-radius: 20px;
}
#field1{
	position: absolute;
	width: 60%;
	height: 35%;
	top:6%;
	left:39%;
	background: green;
	border-radius: 20px;
}
#like1{
	position: absolute;
	width: 7%;
	height: 6%;
	top:42%;
	left:45%;
	background: blue;
	border-radius: 50%;
	overflow: hidden;
}
#buy1{
	position: absolute;
	width: 20%;
	height: 6%;
	top:42%;
	left:75%;
	background: blue;
	border-radius:25px;
	padding-left:5%;
}
#back1{
	position: absolute;
	width: 20%;
	height: 4%;
	top:1%;
	left:1%;
	border-radius:20px;
	background: pink;
	padding-left:5%;
}
#text2{
	position: absolute;
	width: 80%;
	height: 16%;
	top:82%;
	border-radius: 20px;
	left:2%;
	background: green;
}
#submit1{
	position: absolute;
	width: 12%;
	height: 11%;
	background: pink;
	top:85%;
	left:85%;
}
#up_panel{
	position: absolute;
	width: 110%;
	height: 10%;
	left:-5%;
	background: yellow;
	padding-left: 25%;
}