body{
	overflow-x: hidden;
}
#alls{
	left:0%;
	position: absolute;
	width: 100%;
	height: 100%;
	transition: all ease 1s;
}
#all1{
	width:100%;
	height:100%;
	position:absolute;
	transition: all ease 1s;
}
#all2{
	top:15%;
	width:100%;
	height:245%;
	left:-100%;
	position:absolute;
	transition: all ease 1s;
}
#all3{
	top:15%;
	width:100%;
	height:245%;
	left:100%;
	position:absolute;
	transition: all ease 1s;
}
#top_panel{
	width:100%;
	height:15%;
	background:#e8af6d;
	position:absolute;
}
#bottom_panel{
	width:100%;
	height:15%;
	top:245%;
	background:#7E6E61;
	position:absolute;
}
#vk{
	position:absolute;
	width:7%;
	height:10%;
	left:83%;
	top:247%;
}
#ds{
	position:absolute;
	width:5%;
	height:8%;
	left:89%;
	top:248%;
}
#inst{
	position:absolute;
	width:5%;
	height:8%;
	left:94%;
	top:248%;
}
#background{
	position:absolute;
	width:100%;
	height:250%;
	background:green;
}
#text1{
	position:absolute;
	width:40%;
	height:15%;
	top:4%;
	left:30%;
}
#il1{
	position:absolute;
	width:60%;
	height:70%;
	top:15%;
	background:#faebc0;
}
#il2{
	position:absolute;
	width:60%;
	height:70%;
	top:85%;
	left:40%;
	background:#faebc0;
}
#il3{
	position:absolute;
	width:60%;
	height:70%;
	top:155%;
	background:#faebc0;
}
#language{
	position:absolute;
	width:15%;
	height:9%;
	top:3%;
	left:84%;
	background:#98382c;
	border-radius:20px 20px 0px 0px;
}
#mark1{
	position:absolute;
	width:30%;
	height:40%;
	left:65%;
	top:30%;
	transition: all ease 1s;
}
#fl{
	position:absolute;
	width:100%;
	height:0%;
	top:100%;
	overflow: hidden;
	transition: all ease 1s;
	border-radius:0px 0px 20px 20px;
}
#RU{
	position:absolute;
	width:100%;
	height:50%;
	background:#bb4c3f;
}
#pl{
	position:absolute;
	width:100%;
	top:50%;
	height:1px;
	background:black;
}
#EN{
	position:absolute;
	width:100%;
	height:50%;
	top:50%;
	background: #bb4c3f;
}
#fRU{
	position:absolute;
	width:35%;
	height:40%;
	top:5%;
	left:60%;
}
#fEN{
	position:absolute;
	width:35%;
	height:40%;
	top:55%;
	left:60%;
}
#right1{
	position:absolute;
	width:35%;
	height:15%;
	left:55%;
	top:227%;
	border-radius:25px;
	background:pink;
	padding-top:20px;
}
#left1{
	position:absolute;
	width:35%;
	height:15%;
	left:15%;
	top:227%;
	border-radius:25px;
	background:pink;
	padding-top:20px;
}
#in1{
	position:absolute;
	width:40%;
	height:70%;
	top:15%;
	left:60%;
	background:#fff7e0;
	text-indent: 70px;
}
#in2{
	position:absolute;
	width:40%;
	height:70%;
	top:85%;
	background:#fff7e0;
	text-indent: 70px;
}
#in3{
	position:absolute;
	width:40%;
	height:70%;
	top:155%;
	left:60%;
	background:#fff7e0;
	text-indent: 70px;
}
#chat1{
	position: absolute;
	width: 35%;
	height: 35%;
	top:6%;
	left:1%;
	background: red;
	overflow: hidden;
	border-radius: 20px;
}
#field1{
	position: absolute;
	width: 60%;
	height: 35%;
	top:6%;
	left:39%;
	background: green;
	border-radius: 20px;
	padding-left: 1%;
	padding-top: 1%;
}
#like1{
	position: absolute;
	width: 32%;
	height: 100%;
}
#like2{
	position: absolute;
	width: 15%;
	height: 4%;
	top:12%;
	left:29%;
}
#like3{
	position: absolute;
	width: 15%;
	height: 4%;
	top:120%;
	left:55%;
	transition:all ease 2s;
	/* t=44% l=55% | t=42 l=56 | t=41 l=55 | t=40 */
}
#lyik{
	position:absolute;
	overflow: hidden;
	width:20%;
    height:5%;
    top:43%;
    left:45%;
}
#buy1{
	position: absolute;
	width: 20%;
	height: 6%;
	top:42%;
	left:79%;
	background: blue;
	border-radius:25px;
	padding-left:5%;
}
#back1{
	position: absolute;
	width: 20%;
	height: 4%;
	top:1%;
	left:79%;
	border-radius:20px;
	background: pink;
	padding-left:3%;
	overflow:hidden;
}
#back2{
	position: absolute;
	width: 20%;
	height: 4%;
	top:3px;
	left:1%;
	border-radius:20px;
	background: pink;
	padding-left:8%;
	overflow:hidden;
}
#strel2{
	position:absolute;
	width:30%;
	height:100%;
	top:4%;
	left:10%;
}
#strel1{
	position:absolute;
	width:30%;
	height:100%;
	left:65%;
	top:10%;
}
#text2{
	position: absolute;
	width: 80%;
	height: 16%;
	top:82%;
	border-radius: 20px;
	left:2%;
	background: green;
}
#submit1{
	position: absolute;
	width: 15%;
	height: 14%;
	top:83%;
	left:83%;
	overflow:hidden;
}
#up_panel{
	position: absolute;
	width: 110%;
	height: 10%;
	left:-5%;
	background: yellow;
	padding-left: 25%;
}
#txt1{
	border-radius:20px;
	width:100%;
	height:100%;
}
#fi{
	position:absolute;
	width:96%;
	height:72%;
	left:2%;
	top:10%;
}
#an1,#an2,#an3{
	position:absolute;
	width:14%;
	height:15%;
	top:2%;
	border-radius:50%;
}
#an2{
	top:30%;
}
#an3{
	left:110%;
	top:100%;
}
#on1,#on2,#on3{
	position:absolute;
	width:85%;
	height:70%;
	top:-18%;
	left:8%;
}
#on2{
	top:10%;
}
#on3{
	top:100%;
	left:100%;
}
#texti1,#texti2,#texti3{
	position:absolute;
	width:70%;
	height:70%;
	top:14%;
	left:17%;
}
#texti2{
	top:42%;
}
#texti3{
	top:100%;
	left:100%;
}
#kons{
	position:fixed;
	top:83%;
	left:91%;
	width:8%;
	height:16%;
	transition:all ease 1s;
}
#kons2{
	position:fixed;
	width:25%;
	height:49%;
	top:50%;
	left:110%;
	background:#ddbc95;
	transition:all ease 1s;
	border-radius:20px;
	border:2px solid black;
}
#krest{
	position:absolute;
	width:15%;
	height:15%;
	top:5%;
	right:5%;
	transition:all ease 1s;
}
#field2{
	position: absolute;
	width:90%;
	height:35%;
	top:5%;
	left:10%;
	background: green;
	border-radius: 20px;
	overflow: hidden;
	border:1px solid black;
}
#redi1{
	position: absolute;
	width:100%;
	height:15%;
	background: red;
}
#redi2{
	position: absolute;
	width:100%;
	height:15%;
	top:15%;
	background: blue;
}
#textar{
	position: absolute;
	width: 100%;
	height: 70%;
	top:30%;
	border-radius: 0px 0px 20px 20px;
}
#textik{
	border: none;
	outline: none;
}
#sr1,#sr2,#sr3,#sr4,#sr5{
	position: absolute;
	width: 16%;
	height: 80%;
	top:10%;
	left:2%;
	background: pink;
	border-radius: 20px;
	padding-left: 2%;
}
#sr2{
	left:22%;
	padding-left: 4%;
}
#sr3{
	left:42%;
	padding-left: 1%;
}
#sr4{
	left:62%;
	padding-left: 2%;
}
#sr5{
	left:82%;
}
#sn1,#sn2,#sn3,#sn4{
	position: absolute;
	width: 17%;
	height: 80%;
	top:10%;
	left:6%;
	background: pink;
	border-radius: 20px;
	padding-left: 2%;
}
#sn2{
	left:29%;
	padding-left: 4%;
	font-size: 35px;
}
#sn3{
	left:50%;
	padding-left: 1%;
	width: 22%;
	font-size: 35px;
}
#sn4{
	left:75%;
	padding-left: 2%;
	font-size: 35px;
	width: 21%;
}
#sha1{
	position: absolute;
	top:6%;
	left:1%;
}
#sha2{
	position: absolute;
	top:11%;
	left:1%;
}
#login2{
	position: absolute;
	width: 5%;
	height: 10%;
	top:3%;
	left:78%;
	background: red;
	border-radius: 50%;
}
#login1{
	position: absolute;
	width: 100%;
	top:0%;
	overflow: hidden;
}
#field3{
	position: absolute;
	width: 100%;
	height: 100%;
	background: red;
	border-radius: 20px;
	/* overflow:hidden; */
	transition: all ease 1s;
}
#accept1{
	position: absolute;
	width: 22%;
	height: 5%;
	left:75%;
	top:42%;
	background: green;
	border-radius: 20px;
	padding-left: 1%;
	padding-top: 1%;
}
#log1{
	position: absolute;
	width:17%;
	height: 15%;
	top:5%;
	left:40%;
	background: black;
	border-radius: 50%;
	transition: all ease 1s;
}
#log2{
	position: absolute;
	top:20%;
	left:39%;
	transition: all ease 1s;
}
#log3{
	position: absolute;
	top:33%;
	left:39%;
	transition: all ease 1s;
}
#log4{
	position: absolute;
	width: 75%;
	height: 10%;
	top:40%;
	left:12%;
	transition: all ease 1s;
}
#sem3{
	height: 100%;
	border-radius: 15px;
	transition: all ease 1s;
}
#log5{
	position: absolute;
	top:53%;
	left:38%;
	transition: all ease 1s;
}
#log6{
	position: absolute;
	width: 75%;
	height: 10%;
	top:60%;
	left:12%;
	transition: all ease 1s;
}
#sem4{
	height: 100%;
	border-radius: 15px;
	transition: all ease 1s;
}
#log7{
	position: absolute;
	width: 25%;
	height: 10%;
	top:73%;
	left:38%;
	background: green;
	border-radius: 20px;
	padding-left: 3%;
	padding-top: 2%;
	transition: all ease 1s;
}
#log8{
	position: absolute;
	width: 60%;
	height: 10%;
	top:85%;
	left:20%;
	background: green;
	border-radius: 20px;
	padding-left: 4%;
	padding-top: 3%;
	transition: all ease 1s;
}
#allfi{
	position: absolute;
	width: 40%;
	height: 90%;
	left:-20%;
	top:8%;
	margin-left:50%;
	background: red;
	border-radius: 20px;
	/*overflow:hidden; */
	transition: all ease 1s;
}
#field4{
	position: absolute;
	width: 100%;
	height: 100%;
	left:100%;
	background:blue;
	border-radius: 20px;
	transition: all ease 1s;
}
#background1{
	position: absolute;
	width: 100%;
	height: 100%;
	background: #000000bd;
}
#audios{
	position: absolute;
	width: 302px;
	height: 56px;
	top:48%;
	left:55%;
	background: pink;
	border:1px solid black;
	border-radius: 30px;
}